body {
    margin: 0;
    padding: 0;
}

.hero {
    width: 1920px;
    height: 768px;
    background: url('images/sean-pollock-203658-unsplash.jpg');
    margin: 0;
    padding: 0;
}

#hero-bg-mask {
    position: absolute;
    width: 1920px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
}

#main {
    border-bottom: 2px solid #5889AD;
}

#nav {
    width: 1420px;
    height: 80px;
    margin: 0 auto;
}

#rect {
    position: absolute;
    left:250px;
    top:29px;
}

#rect:hover {
    cursor: pointer;
}

#logo {
    position: absolute;
    left:370px;
    top:26px;
}

#mail {
    position: absolute;
    left:1210px;
    top:23px;
}

#mail img {
    width: 17px;
    height: auto;
}

#write {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 0 6px 0;
}

#e-mail {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 12px;
    text-align: right;
    color: #FEE040;
    margin-left: 9.5px;
}

#number {
    float: right;
    margin-top:18px;
}

#number img {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-right: 7px;
}

#number span {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

#number p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
}

#phone {
    margin: 0 0 6px 0;
}

#content {
    width: 1180px;
    height: 209px;
    margin: auto;
    position: absolute;
    left:370px;
    top:208px;
}

#header {
    width: 580px;
    height: 209px;
    float: left;
}

#but {
    width: 340px;
    height: 194px;
    float: right;
}

#h_first {
    font-family: 'Fira Sans', sans-serif;
    font-size: 42px;
    color: white;
    margin: 0 0 38px 0;
}

#h_second {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 5px;
    line-height: 34px;
    margin: 0;
}

#button {
    width: 340px;
    height: 70px; 
    background: #FEE040;
    border-radius: 4px;  
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 15px;
}

#b_first {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #FFFFFF; 
    line-height: 28px;
}

#button img {
    margin-right: 12px;
}

#button:hover {
    background: #b59e25;
    cursor: pointer;
}

#bot {
    width: 1420.14px;
    height: 228px;
    margin: auto;
    position: absolute;
    left:249.86px;
    top:480px;
}

#features {
    width: 1020.14px;
    height: 56px;
    position:absolute; 
    bottom:0;
    display: flex;
    flex-wrap:nowrap;
}

#f_first, #f_second, #f_third {
    width: 260.14px;
    height: 56px;
    float: left;
    margin-right: 80px;
}

#first, #second, #third {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFFFFF; 
    float: right;
}

#video {
    width: 220px;
    height: 220px;
    float: right;
}

#line1 {
    position: absolute;
    left: 250px;
    top: 80px;
    width: 2px;
    height: 688px;
    opacity: 0.1;
    background-color: white;
}

#line2 {
    position: absolute;
    left: 730px;
    top: 80px;
    width: 2px;
    height: 688px;
    opacity: 0.1;
    background-color: white;
}

#line3 {
    position: absolute;
    left: 1210px;
    top: 80px;
    width: 2px;
    height: 688px;
    opacity: 0.1;
    background-color: white;
}

#line4 {
    position: absolute;
    left: 1670px;
    top: 80px;
    width: 2px;
    height: 688px;
    opacity: 0.1;
    background-color: white;
}

.why_we {
    width: 1920px;
    height: 449px;
}

.why_we #header{
    position: absolute;
    left: 250px;
    top: 868px;
    width: 460px;
    height: 260px;
}

#about1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px; 
}

#about2 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: #707070;
    opacity: 0.7;
    line-height: 28px;
}

#right_content {
    width: 445px;
    height: 178px;
    position: absolute;
    left: 1210px;
    top: 904px;
}

#right_content p{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

#right_content span{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #333333;
    opacity: 0.7;
    letter-spacing: 1px;
    line-height: 28px;
    float: right;
}

#right_content div{
    margin-bottom: 5px;
}

#tv {
    width: 300px;
    height: 295px;
    position: absolute;
    left: 810px;
    top: 864px;
}

.services {
    width: 1920px;
    height: 753px;
    background-image: url('images/patrick-tomasso-89367-unsplash.jpg');
}

#services_mask {
    width: 1920px;
    height: 753px;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}

.services #header {
    width: 1085px;
    height: 78px;
    position: absolute;
    left: 483px;
    top: 1317px;
    text-align: center;
}

#uslugi {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #FEE040;
}

#uslugi2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#list {
    width: 1920px;
    height: 415px;
    position: absolute;
    left: 0;
    top: 1450px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#list::-webkit-scrollbar {width: 0; height: 0;}

#list div:first-of-type {
    margin-left: 250px;
}

#list1 {
    width: 400px;
    height: 381px;
    margin-right: 80px;
}

#dom {
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    color: white;
    letter-spacing: 1px;
}

#dom1 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.7;
}

#progress {
    position: absolute;
    top: 1886px;
}

#ellipse {
    border-radius: 100px;
    position: absolute;
    top: 40px;
    left: 1240px;
}

#but_video {
    position: absolute;
    top: 100px;
    left: 1300px;
}

.steps {
    width: 1920px;
    height: 2060px;
}

.steps #header {
    width: 838px;
    height: 156px;
    position: absolute;
    top: 2074px;
    left: 541px;
    text-align: center;
}

#s_first {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #505050;
}

#step_1 {
    width: 1920px;
    height: 441px;
    position: absolute;
    top: 2330px;
    left: 0;
}

#foto_slider {
    width: 960px;
    height: 441px;
    background-image: url('images/henry.jpg');
    background-size: cover;
    float: left;
    margin: 0;
}

#desk {
    width: 960px;
    height: 441px;
    background-color: #F5F5F5;
    margin-left: 960px;
}

#desk #header {
    width: 460px;
    height: 130px;
    position: absolute;
    top: 80px;
    left: 1030px;
}

#step {
    width: 107px;
    height: 27px;
    background-color: #FEE040;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #151515;
    float: left;
    margin-right: -40px;
}

#s_second {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    color: #151515;
    margin: 0;
}

#s_trird {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #333333;
    opacity: 0.7;
}

#quote {
    width: 501px;
    height: 119px;
    position: absolute;
    left: 1030px;
    top: 242px;
}

#ellipse2 {
    width: 57px;
    height: 57px;
    float: left;
    border-radius: 100px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 3px;
}

#ellipse_svg {
    width: 160px;
    height: 160px;
    position: absolute;
    top: -35px;
    left: -49px;
}

#q_first {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #505050;
    opacity: 0.7;
    margin: 0 0 0 100px;
}

#q_second {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #151515;
    opacity: 0.7;
    margin: 21px 0 0 100px;
}

